#creadores {
    margin-top: 14rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3rem;
    font-family: var(--fontSecondary)
}

h4 {
    font-size: 1.5rem;
    font-family: var(--fontSecondary)
}

h5 {
    font-size: 1.5rem;
    font-family: var(--fontSecondary);
    display: inline;
}

.textos {
    font-size: 0.9rem;
}

p {
    font-size: 1.3rem;
}

.historia {
    font-size: 0.6rem;
}

.carrusel {
    padding: 1rem;
}

#carouselWithCaptions {
    padding: 0rem 6rem;
}

.bloque1 {
    color: var(--colorRed);
}

.bloque2 {
    color: var(--colorGolden);
}

.bloque3 {
    color: var(--colorGreen);
}

.bloque4 {
    color: var(--colorBlue);
    ;
}

.bloque5 {
    color: var(--colorPurple);
}



/* mediaqueries 768px*/
@media(min-width: 48rem) {
    #creadores {
        margin-top: 4rem;
    }

    .historia {
        font-size: 1rem;
    }

}

@media(min-width: 62.5rem) {
    .carrusel {
        width: 50%;
    }

    .textos {
        width: 50%;
    }

    .wrapper {
        display: flex;
    }
}