<section id="creadores" class="text-white p-5 mx-5">
    <h2 class="pb-5">CREADORES DE LA TEORIA</h2>
    <p class="pb-5">El color es un fenómeno complejo que abarca diferentes áreas, como la física, la
        psicología,la biología el arte y la filosofía. Aquí hay algunas razones por las cuales ha habido tantos
        contribuyentes a lo largo de la historia:</p>

    <div class="wrapper">
        <div class="textos">
            <ul>
                <li class=" pb-4">
                    <h4 class="pb-2 bloque1">Enfoques multidisciplinarios:</h4>
                    La teoría del color involucra múltiples disciplinas,como la física para entender la naturaleza de la
                    luz y los pigmentos, la biología para comprender
                    cómo percibimos el color, y el arte para explorar la expresión y la estética del color. Diferentes
                    expertos en estas disciplinas han aportado sus conocimientos a la comprensión general del color.
                </li>

                <li class="pb-4">
                    <h4 class="pb-2 bloque2">Perspectivas culturales y artísticas:</h4>
                    La percepción y aplicación del color varían cultural y artísticamente.Diferentes períodos
                    históricos, movimientos artísticos y culturas han tenido enfoques únicos hacia el color. Los
                    artistas y pensadores han contribuido a la teoría del color al explorar sus propias interpretaciones
                    y expresiones personales.
                </li>
                <li class="pb-4">
                    <h4 class="pb-2 bloque3">Avances tecnológicos:</h4>
                    A medida que la tecnología ha avanzado, la comprensión científica del color ha evolucionado. Por
                    ejemplo, los estudios sobre la luz y el espectro electromagnético han contribuido a nuestra
                    comprensión de cómo percibimos los colores.
                </li>
                <li class="pb-4">
                    <h4 class="pb-2 bloque4"> Desarrollo de sistemas y modelos:</h4>
                    Diferentes investigadores han desarrollado modelos y sistemas para describir y organizar el color.
                    Desde el modelo de color RGB utilizado en la tecnología de visualización hasta el sistema de color
                    Munsell utilizado en arte y diseño, cada enfoque ha aportado su perspectiva única.
                </li>
                <li class="pb-5">
                    <h4 class="pb-2 bloque5"> Cambios en la comprensión a lo largo del tiempo: </h4>
                    La teoría del color ha evolucionado a lo largo del tiempo a medida que se han hecho nuevos
                    descubrimientos y se han desarrollado nuevas tecnologías. Las teorías más antiguas, como las de
                    Newton, han sido complementadas y, en algunos casos, revisadas a medida que avanzamos ennuestro
                    conocimiento científico.
                </li>

                <p class="pb-5"> En resumen, la teoría del color es compleja y abarca diversos campos, lo que ha llevado
                    a la
                    contribución de muchos individuos a lo largo de la historia, cada uno aportando desde su área de
                    especialización única.</p>
            </ul>
        </div>

        <div class="carrusel">
            <div id="carouselWithCaptions" class="carousel slide pointer-event" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="2"></li>
                    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="3"></li>
                    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="4"></li>
                    <li data-bs-target="#carouselWithCaptions" data-bs-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://i.postimg.cc/nhrJPKH6/NEWTON.jpg" class="d-block w-100" alt="Slide 1">
                        <div class="carousel-caption d-none d-sm-block">
                            <h5>Isaac Newton</h5>
                            <p class="historia pt-2">Newton es conocido por su contribución a la teoría del color
                                mediante su
                                experimento con
                                un prisma, que demostró
                                que la luz blanca podía descomponerse en un espectro de colores. También introdujo la
                                idea de que los colores no
                                están en los objetos mismos, sino en la luz.</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="https://i.postimg.cc/tJzjL2nH/GOETHE.jpg" class="d-block w-100" alt="Slide 2">
                        <div class="carousel-caption d-none d-sm-block">
                            <h5>Johann Wolfgang von Goethe</h5>
                            <p class="historia pt-2">Goethe, conocido principalmente como escritor, también hizo
                                contribuciones a la teoría
                                del color. Su obra
                                "Teoría de los colores" criticó la visión newtoniana y se centró más en la percepción
                                subjetiva y emocional de
                                lo</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.postimg.cc/nhWJbsrM/HERMANN.jpg" class="d-block w-100" alt="Slide 3">
                        <div class="carousel-caption d-none d-sm-block">
                            <h5>Hermann von Helmholtz</h5>
                            <p class="historia pt-2"> Helmholtz expandió la teoría de Young y propuso que los colores se
                                deben a la estimulación de tres tipos de
                                receptores en la retina. Sus ideas contribuyeron al desarrollo de la teoría tricromática
                                de la visión del color.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.postimg.cc/8PtG4XVR/MUNSELL.jpg" class="d-block w-100" alt="Slide 4">
                        <div class="carousel-caption d-none d-sm-block">
                            <h5>Albert Munsell</h5>
                            <p class="historia pt-2"> Munsell desarrolló el sistema de notación Munsell, que clasifica
                                los
                                colores según tres dimensiones: matiz,
                                valor y croma. Este sistema fue fundamental en la estandarización de la descripción del
                                color.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.postimg.cc/Kc7xkvqs/MAXWELL.jpg" class="d-block w-100" alt="Slide 5">
                        <div class="carousel-caption d-none d-sm-block">
                            <h5>James Clerk Maxwell</h5>
                            <p class="historia pt-2">Maxwell contribuyó a la teoría del color con su modelo
                                tricromático, que sugiere que se pueden
                                combinar tres colores primarios para crear una gama completa de colores.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.postimg.cc/wT6Hh8nx/JOSEF.jpg" class="d-block w-100" alt="Slide 6">
                        <div class="carousel-caption d-none d-sm-block">
                            <h5>Josef Albers</h5>
                            <p class="historia pt-2"> Albers fue un artista y profesor que influyó en la teoría del
                                color a
                                través de su libro "Interacción del
                                color". Exploró cómo los colores se perciben y cambian en relación con otros colores.
                            </p>
                        </div>
                    </div>


                </div>
                <a class="carousel-control-prev" href="#carouselWithCaptions" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselWithCaptions" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>