<section id="creadores" class="text-white p-5 mx-5">
    <h2 class="pb-5">CREADORES DE LA TEORIA</h2>


    <p class="pb-4">
        La teoría del color es un campo de estudio que explora cómo percibimos y comprendemos los colores. Involucra
        conceptos relacionados con la luz, la visión humana y la interpretación cerebral de las señales visuales. </p>

    <ul class="pb-5 pt-4">
        <div class="row">
            <li class="pb-2 col-3">
                <h5 class="pb-2"><span class="text-gradient"><i class="fa-solid fa-sliders"></i> RGB </span></h5>
                <p class="pt-2">Se utiliza en dispositivos electrónicos. La combinación en diferentes
                    proporciones produce una amplia gama de colores.</p>
            </li>
        </div>
    </ul>

    <p class="pb-4">
        La teoría del color ha sido desarrollada a lo largo de los siglos por varios científicos, artistas y pensadores.
        Aquí hay algunas figuras clave en la historia de la teoría del color:
    </p>

    <p class="pb-4">Newton (1642-1727):
        Newton es conocido por su contribución a la teoría del color mediante su experimento con un prisma, que demostró
        que la luz blanca podía descomponerse en un espectro de colores. También introdujo la idea de que los colores no
        están en los objetos mismos, sino en la luz.
    </p>
    <p class="pb-4">
        Johann Wolfgang von Goethe (1749-1832):

        Goethe, conocido principalmente como escritor, también hizo contribuciones a la teoría del color. Su obra
        "Teoría de los colores" criticó la visión newtoniana y se centró más en la percepción subjetiva y emocional de
        lo
    </p>
    <p class="pb-4">
        Thomas Young (1773-1829):

        Young formuló la teoría de la visión tricromática, que sugiere que el ojo humano tiene tres tipos de receptores
        de color. Esta idea sentó las bases para comprender cómo percibimos los colores.
    </p>
    <p class="pb-4">Hermann von Helmholtz (1821-1894):

        Helmholtz expandió la teoría de Young y propuso que los colores se deben a la estimulación de tres tipos de
        receptores en la retina. Sus ideas contribuyeron al desarrollo de la teoría tricromática de la visión del color.
    </p>
    <p class="pb-4">Albert Munsell (1858-1918):

        Munsell desarrolló el sistema de notación Munsell, que clasifica los colores según tres dimensiones: matiz,
        valor y croma. Este sistema fue fundamental en la estandarización de la descripción del color.
    </p>
    <p class="pb-4">Maxwell y la Teoría Tricromática (siglo XIX):

        James Clerk Maxwell contribuyó a la teoría del color con su modelo tricromático, que sugiere que se pueden
        combinar tres colores primarios para crear una gama completa de colores.
    </p>
    <p class="pb-4">Josef Albers (1888-1976):

        Albers fue un artista y profesor que influyó en la teoría del color a través de su libro "Interacción del
        color". Exploró cómo los colores se perciben y cambian en relación con otros colores.
    </p>

    <p class="pb-4">Estas figuras representan solo algunos de los muchos contribuyentes a la teoría del color a lo largo
        del tiempo.
        La comprensión del color ha evolucionado con aportes de diversas disciplinas, como la física, la biología, el
        arte y la psicología.
    </p>



</section>