<section id="error" class="p-5 mt-5 text-center text-white">
    <div class="selector">

        <h2>404</h2>
        <h2 class="found pb-3">Not Found</h2>
        <h4>¡UPS! No se ha podido encontrar esa página</h4>
        <div><i class="fa-solid fa-robot"></i></div>

        <div class="selector p-5 mt-4 text-start text-white">
            <p class="fs-5">¿Quizás estabas buscando...?</p>
            <div class=" d-flex justify-content-start align-items-start text-white gap-5">
                <article [routerLink]="['/posts']" id="bloque1" class="col-2">
                    <div class="cuadro">
                        <i class="fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">LISTADO</h3>
                    </div>
                </article>

                <article [routerLink]="['/fav']" id="bloque2" class="col-2">
                    <div class="cuadro">
                        <i class="fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">FAVORITO</h3>
                    </div>
                </article>

                <article [routerLink]="['/new']" id="bloque3" class="col-2">
                    <div class="cuadro">
                        <i class="fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">NUEVO</h3>
                    </div>
                </article>

                <article [routerLink]="['/register']" id="bloque4" class="col-2">
                    <div class="cuadro">
                        <i class="fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">REGISTRO</h3>
                    </div>
                </article>

                <article [routerLink]="['/login']" id="bloque5" class="col-2">
                    <div class="cuadro">
                        <i class="fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">LOGIN</h3>
                    </div>
                </article>

            </div>
        </div>
    </div>


</section>