#error {
    margin-top: 10rem;
}

h2 {
    font-size: 7rem;
    color: var(--colorRed);
}

section .found {
    font-size: 2rem;
}

#buscar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
}

#bloque1 {
    background-color: var(--colorRed);
    ;
}

#bloque2 {
    background-color: var(--colorGolden);
}

#bloque3 {
    background-color: var(--colorGreen);
}

#bloque4 {
    background-color: var(--colorBlue);
}

#bloque5 {
    background-color: var(--colorPurple);
}

article {
    width: 15rem;
    height: 12rem;
    background-color: white;
    margin-top: 2rem;
    padding-top: 2rem;
    color: black;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        background-color: white;
        color: white;
    }
}

.cuadro {
    position: relative;
}

h3 {
    margin-top: 7.5rem;
}

.tinta {
    display: inline-block;
    position: absolute;
    left: 12rem;
    top: -8.5rem;
}

/* mediaqueries 768px*/
@media(min-width: 48rem) {
    .buscar {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 5rem;
    }
}

#error {
    margin-top: 8rem;
}