<section id="error" class="p-5 text-center text-white">
    <div class="selector">

        <div id="flor" class="d-flex justify-content-center"><a href="http://randomcolour.com/">
                <img src="https://blog.zohowebstatic.com/sites/zblogs/images/show/color-wheel-2x-2020-12.png" alt="">
            </a>
        </div>
        <i class="robot fa-solid fa-robot d-inline"></i>
        <h4 class="d-inline px-3">¡UPS! No se ha podido encontrar esa página</h4> <i
            class="plug fa-solid fa-plug-circle-xmark "></i>

        <div class="selector p-5 mt-5 text-start text-white">
            <p class="pt-5 fs-5">¿Quizás estabas buscando...?</p>
            <div id="buscar">
                <article [routerLink]="['/posts']" id="bloque1" class="col-2">
                    <div class="cuadro">
                        <i class="tinta fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">LISTADO</h3>
                    </div>
                </article>

                <article [routerLink]="['/fav']" id="bloque2" class="col-2">
                    <div class="cuadro">
                        <i class="tinta fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">FAVORITO</h3>
                    </div>
                </article>

                <article [routerLink]="['/new']" id="bloque3" class="col-2">
                    <div class="cuadro">
                        <i class="tinta fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">NUEVO</h3>
                    </div>
                </article>

                <article [routerLink]="['/register']" id="bloque4" class="col-2">
                    <div class="cuadro">
                        <i class="tinta fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">REGISTRO</h3>
                    </div>
                </article>

                <article [routerLink]="['/login']" id="bloque5" class="col-2">
                    <div class="cuadro">
                        <i class="tinta fa-solid fa-eye-dropper"></i>
                        <h3 class="fw-bold fs-2">LOGIN</h3>
                    </div>
                </article>

            </div>
        </div>
    </div>

</section>