li {
    padding-bottom: 1rem;

    &:hover {
        color: gray;
    }

}

footer {
    padding-left: 5rem;
}

a {
    text-decoration: none;
    color: #212529;

    &:hover {
        color: gray;
    }
}

/* mediaqueries 768px*/
@media(min-width: 48rem) {
    ul {
        display: flex;
    }
}