li {
    padding-bottom: 1rem;

    &:hover {
        color: gray;
    }

}

footer {
    padding-left: 5rem;
    height: 10vh;


}

a {
    text-decoration: none;
    color: #212529;

    &:hover {
        color: gray;
    }
}


.facebook {
    &:hover {
        color: var(--colorBlue)
    }
}

.insta {
    &:hover {
        color: var(--colorRed)
    }
}

.twitter-x {
    &:hover {
        color: var(--colorGreen)
    }
}

/* mediaqueries 768px*/
@media(min-width: 48rem) {
    ul {
        display: flex;
    }
}