img {
    width: 100%
}

i {
    display: block;
    font-size: 1.5rem;

    &:hover {
        cursor: pointer
    }
}


.favorito i {
    color: black;

    &:hover {
        color: var(--colorGolden);
    }
}

.comentario i {
    color: black;

    &:hover {
        color: var(--colorPurple);
    }
}

.detalle i {
    &:hover {
        color: var(--colorGreen);

    }
}

.editar i {
    &:hover {
        color: var(--colorBlue);
    }
}

.borrar i {
    &:hover {
        color: var(--colorRed);
    }
}

/* mediaqueries 768px*/
@media(min-width: 48rem) {
    #fav-comment {
        display: flex;
    }
}