img {
    width: 100%
}

i {
    display: block;
    font-size: 1.5em;

    &:hover {
        cursor: pointer
    }
}


.favorito i {
    color: black;

    &:hover {
        color: #FFA500;
    }
}

.comentario i {
    color: black;

    &:hover {
        color: #9400D3;
    }
}

.detalle i {
    &:hover {
        color: #008000;

    }
}

.editar i {
    &:hover {
        color: #0000FF;
    }
}

.borrar i {
    &:hover {
        color: #FF0000;
    }
}



/* mediaqueries 768px*/
@media(min-width: 48rem) {
    #fav-comment {
        display: flex;
    }
}


/* mediaqueries 1000px*/
@media(min-width: 62.5rem) {}

/* mediaqueries 1400px*/
@media(min-width: 87.5rem) {}