<section class="px-5 mt-5 text-white">
    <h2 class="pt-5 pb-5">POST FAVORITOS</h2>

    <div id="filtros">
        <div class="pb-2">
            <label>Selecciona la categoría</label>
            <select class="bloque2 mx-1 d-block" (change)="onChangeCategoria($event)">
                <option class="bloque2" value="">Todas las categorías</option>
                <option class="bloque2" *ngFor="let categoria of arrCategorias" [value]="categoria">{{categoria}}
                </option>
            </select>
        </div>


        <div class="pb-2">
            <label>Selecciona el autor</label>
            <select class="bloque3 mx-1 d-block" (change)="onChangeAutor($event)">
                <option class="bloque3" value="">Todos los autores</option>
                <option class="bloque3" *ngFor="let autor of arrAutores" [value]="autor">{{autor}}</option>
            </select>
        </div>


        <div class="pb-2">
            <label>Ordenar por título</label>
            <select class="bloque4 mx-1 d-block" (change)="onChangeTitulo($event)">
                <option class="bloque4" value="A-Z">De la A a la Z</option>
                <option class="bloque4" value="Z-A">De la Z a la A</option>
            </select>
        </div>


        <div class="pb-2">
            <label>Ordenar por fecha</label>
            <select class="bloque5 mx-1 d-block" (change)="onChangeFecha($event)">
                <option class="bloque5" value="reciente">Más reciente</option>
                <option class="bloque5" value="antiguo">Más antiguo</option>
            </select>
        </div>

    </div>
    <div class="ps-3" *ngIf="postFavorito">
        <card-post [post]=" postFavorito" [botonActivo]="false" (borrarPostOutput)="onPostBorrado($event)"
            *ngFor="let post of arrFavoritos" [post]="post"></card-post>
    </div>
</section>