@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

:root {
    --fontMain: 'Lato', sans-serif;
    --fontSecondary: 'Oswald', sans-serif;
    --colorFont: #EEEEEE;
    --colorBg: #000000;
    --colorBgLight: #222831;
    --colorMain: #FFD369;
    --colorSeconday: #373171;
    --colorButton: #6D73BB;
    --gap: 1.25rem;
    /* 20px */
    --padding: 2.5rem;
    /* 40px */
    --fontSize1: 0.75rem;
    /* 12px */
    --fontSize2: 0.875rem;
    /* 14px */
}

/* Layout */

img {
    width: 100%;
    height: auto;
    display: block;
}