li {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}

.registro {
    margin-bottom: 0.313rem;
}

.bloque1 {
    color: var(--colorRed);
}

.bloque2 {
    color: var(--colorGolden);
}

.bloque3 {
    color: var(--colorGreen);
}

.bloque4 {
    color: var(--colorBlue);
}

.bloque5 {
    color: var(--colorPurple);
}

/* mediaqueries 768px*/
@media(min-width: 48rem) {
    nav ul {
        display: flex;
    }

    li {
        padding-bottom: 0px;
        padding-top: 5px;
    }
}