.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

nav {
    color: white;
    background-color: teal;
    height: 10vh;

}

li {
    list-style: none;
}