<div class="flex">
    <section id="hero" class="px-5 text-black text-center">
        <div>
            <h2 class="text">Conoce todos los secretos de los colores</h2>
        </div>
    </section>

    <div class="px-5 row justify-content-between align-items-center text-center text-white ">
        <section id="lista-post" class="col-3 border border-5 border-black">
            <div>LISTADO</div>
        </section>

        <section id="aleatorios" class=" col-3 border-end border-5 border-black">
            <div>ALEATORIO</div>
        </section>

        <section id="crear-post" class=" col-3 border- border-5 border-black">
            <div>CREAR POST</div>
        </section>

        <section id="otros" class=" col-3 border border-5 border-black ">
            <div>OTROS</div>
        </section>
    </div>
</div>