<div id="hero" class="color-bar">
    <h1 class="fw-bold px-5 text-white"><span>TEORIA DEL</span> COLOR</h1>
</div>


<div id="secciones" class="ps-4 row justify-content-between align-items-centertext-white ">

    <section id="secciones2" class="px-5 row justify-content-between align-items-centertext-white ">
        <article id="bloque1" class="col-2 ">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">LISTADO</h3>
            </div>
        </article>

        <article id="bloque2" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">FAVORITO DEL DIA</h3>
            </div>
        </article>

        <article id="bloque3" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">AÑADIR</h3>
            </div>
        </article>

        <article id="bloque4" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">REGISTRO</h3>
            </div>
        </article>

        <article id="bloque5" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">LOGIN</h3>
            </div>
        </article>

    </section>

    <section id="secciones2" class="px-5 row justify-content-between align-items-center text-white ">
        <article id="bloque6" class="col-2 ">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque7" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque8" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque9" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque10" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>
    </section>

    <section id="secciones3" class="px-5 row justify-content-between align-items-center text-white ">
        <article id="bloque11" class="col-2 ">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque12" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque13" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque14" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>

        <article id="bloque15" class="col-2">
            <div class="cuadro">
                <i class="fa-solid fa-eye-dropper"></i>
                <h3 class="fw-bold fs-2">#SOON</h3>
            </div>
        </article>
    </section>

</div>