<section id="formulario" class="text-white p-5 mt-5 pe-5">
    <form [formGroup]='nuevoPost' (ngSubmit)="onSubmit()">

        <h2>NUEVO POST</h2>

        <div>
            <label>Titulo</label>
            <input type="text" formControlName='titulo'>
        </div>
        <div>
            <label>Texto</label>
            <input type="text" formControlName='texto'>
        </div>
        <div>
            <label>Autor</label>
            <input type="text" formControlName='autor'>
        </div>

        <div>
            <label>Imagen</label>
            <input type="text" formControlName='imagen'>
        </div>
        <div>
            <label>Fecha</label>
            <input type="text" formControlName='fecha'>
        </div>
        <div>
            <label>Categoria</label>
            <input type="text" formControlName='categoria'>
        </div>

        <input type="submit" class="boton" value="Añadir nuevo post">
    </form>
</section>