<section id="formulario" class="text-white p-5 mt-5">
    <h2 class="pb-5">NUEVO POST</h2>
    <form class="text-uppercase row justify-content-between align-items-start" [formGroup]='nuevoPost'
        (ngSubmit)="onSubmit()">

        <div class="col-1 pb-3">
            <label class="bloque2 pb-5">Autor:</label>
            <label class="bloque3 pb-5">Categoría:</label>
            <label class="bloque4 pb-5">Fecha:</label>
            <label class="bloque5 pb-5">Imagen:</label>
            <label class="bloque1 pb-5">Título:</label>
            <label class="bloque1 pb-0">Texto:</label>
        </div>

        <div class="col-10">
            <input class="bloque2i p-1" type="text" formControlName='autor'
                placeholder="Inserta aquí el autor del post">
            <input class="bloque3i p-1" type="text" formControlName='categoria'
                placeholder="Inserta aquí la categoría del post">
            <input class="bloque4i p-1" type="text" formControlName='fecha'
                placeholder="Inserta aquí la fecha del post">
            <input class="bloque5i resizable-input p-1" type="text" formControlName='imagen'
                placeholder="Inserta aquí la url de la imagen del post">
            <input class="bloque1i p-1" type="text" formControlName='titulo'
                placeholder="Inserta aquí el titulo del post">
            <textarea class="resizable-input pb-5" type="text" formControlName='texto'
                placeholder="Inserta aquí texto del post"></textarea>


            <p-editor formControlName="texto" [style]="{ height: '320px' }"></p-editor>
        </div>
        <div class="pt-5">
            <input class="button" type="submit" value="Añadir post">
        </div>
    </form>

</section>