<section id="teoria" class="text-white p-5 mx-5">
    <h2 class="pb-5">LA TEORIA DEL COLOR</h2>


    <p class="pb-4">
        La teoría del color es un campo de estudio que explora cómo percibimos y comprendemos los colores. Involucra
        conceptos relacionados con la luz, la visión humana y la interpretación cerebral de las señales visuales. </p>
    <p>
        Los modelos de color son sistemas que permiten representar y describir los colores de manera numérica. Estos
        modelos proporcionan una manera de expresar los colores de forma consistente y comprensible, lo que es esencial
        en diversos campos como la informática, la fotografía, el diseño gráfico, la impresión y muchas otras
        disciplinas. Aquí hay algunos modelos de color comunes:</p>
    <ul class="pb-5 pt-4">
        <div class="row">
            <li class="pb-2 col-3">
                <h5 class="pb-2"><span class="text-gradient"><i class="fa-solid fa-sliders"></i> RGB </span></h5>
                <p>Se utiliza en dispositivos electrónicos. La combinación de estos colores en diferentes
                    proporciones produce una amplia gama de colores.</p>
            </li>
            <div class="col-1"></div>
            <li class="pb-2 col-3">
                <h5 class="pb-2"><span class="text-gradient"> <i class="fa-solid fa-sliders"></i>CMYK</span></h5>
                <p>Utilizado en impresión. La combinación de estos colores produce
                    una variedad de colores mediante sustracción.</p>
            </li>
            <div class="col-1"></div>
            <li class="pb-2 col-3">
                <h5 class="pb-2"><span class="text-gradient"> <i class="fa-solid fa-sliders"></i>HSL/HSV</span></h5>
                <p>Representa el color de una manera más intuitiva. El matiz indica el tipo de color, la saturación la
                    intensidad y la luminosidad o valor la claridad del color.</p>
            </li>
        </div>
    </ul>

    <ul class="pt-5">
        <p class="pb-4">Algunos de los aspectos clave de la teoría del color incluyen:</p>
    </ul>
    <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item text-white bg-black">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-black border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    <h4 class="bloque1">Rueda de Color:</h4>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show " aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    La rueda de color organiza los colores en un círculo para mostrar sus relaciones. Colores adyacentes
                    se
                    llaman
                    colores análogos, mientras que colores opuestos se llaman complementarios.
                </div>
            </div>
        </div>
        <div class="accordion-item text-white bg-black">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-black border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                    <h4 class="bloque2">Mezcla de Colores:</h4>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    La mezcla de colores puede ser aditiva o sustractiva. La mezcla aditiva implica combinar colores de
                    luz
                    (como
                    en
                    pantallas), mientras que la sustractiva implica la mezcla de pigmentos (como en pinturas).
                </div>
            </div>
        </div>
        <div class="accordion-item text-white bg-black">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed bg-black border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                    aria-controls="flush-collapseThree">
                    <h4 class="bloque3">Contraste y Armonía:</h4>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    El contraste se refiere a la diferencia entre colores. El contraste alto puede hacer que los
                    elementos
                    destaquen, mientras que el bajo puede crear armonía.
                    La armonía del color implica la combinación de colores de manera agradable a la vista. Es un
                    concepto
                    subjetivo
                    y cultural.
                </div>
            </div>
        </div>
        <div class="accordion-item text-white bg-black">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed bg-black border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                    aria-controls="flush-collapseFour">
                    <h4 class="bloque4">Percepción del Color:</h4>
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse show" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    Factores como la iluminación, la adaptación visual y la fisiología del ojo humano afectan la
                    percepción del color.El fenómeno de la postimagen permite ver colores después de mirar fijamente a
                    un objeto de un color
                    y
                    luego
                    mirar a una superficie blanca.
                </div>
            </div>
        </div>
        <div class="accordion-item text-white bg-black">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed bg-black border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                    aria-controls="flush-collapseFive">
                    <h4 class="bloque5">Psicología del Color:</h4>
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse show" aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    Los colores a menudo tienen asociaciones psicológicas y emocionales. Por ejemplo, el rojo puede
                    evocar
                    emociones
                    intensas como la pasión o el peligro, mientras que el azul puede transmitir calma y confianza.
                </div>
            </div>
        </div>
        <div class="accordion-item text-white bg-black">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed bg-black border border-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
                    aria-controls="flush-collapseSix">
                    <h4 class="bloque1">Usos Prácticos:</h4>
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse show" aria-labelledby="flush-headingSix"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body">
                    La teoría del color se aplica en diversos campos como el diseño gráfico, la publicidad, el arte, la
                    moda
                    y la
                    psicología. La elección de colores puede influir en la percepción y la respuesta emocional de las
                    personas.
                    En resumen, la teoría del color es un conjunto de principios que ayuda a entender cómo interactúan y
                    se
                    perciben
                    los colores, brindando herramientas para la creación visual efectiva y la comunicación estética.
                </div>
            </div>
        </div>
    </div>


</section>